<footer class = "page_footer">

	<div class = "social-links">

		<a href="https://twitter.com/huntingredux">
			<img src="/assets/img/twitter-logo.png" alt="twitter logo">
		</a>

		<a href="https://discordapp.com/huntingredux">
			<img src="/assets/img/discord-logo.png" alt="discord logo">
		</a>

		<a href="https://youtube.com/huntingredux">
			<img src="/assets/img/yt__icon.png" class = "yt__icon" alt="youtube logo">
		</a>
		
	</div>

	<p class="notice">
		Hunting REDUX is a fanmade project and is NOT affiliated with the Monster Hunter brand or own any trademarked content featured on this site.
		
		<br> <br>

		We do not condone piracy nor facilitate the illegal distribution of any licensed software.
	</p>

	<p class="contact">
		Have Questions? Send us an email <span class = "btn">huntingredux@gmail.com</span>
	</p>

</footer>

<div class = "get_mhfu_ios">

	<img src="/assets/img/mhfu_ios.png" alt="mhfu ios logo">

	<div id="get-link-ctr">
		<a id = "get-ios" href = "https://itunes.apple.com/us/app/monster-hunter-freedom-unite-for-ios/id744769918?mt=8">Purchase Now</a>
		<a id = "get-vita" href = "https://store.playstation.com/en-us/product/UP0102-ULUS10391_00-MONSTERHUNTERFU1">Own it on PSVita</a>
	</div>
</div>

<Link rel = "stylesheet" type = "text/css" href = "/assets/frontend/static/css/main.a0f67097.chunk.css" />

{% for script in site.static_files %}
	{% if script.path contains 'static/js' %}
		{% unless script.path contains 'map' %}
			<script src="{{ site.baseurl }}{{ script.path }}">
			</script>
		{% endunless %}
    {% endif %}
{% endfor %}