<div id = "install__cont" class = "box__content_wrapper">
	<header>
		Installation
	</header>

	<div class = "box__content text__cont">
		<p>
			Download and install PPSSPP	along with the latest {{ include.gameSubname }} release.	
		</p>

		<p>

			Use a zip extractor to extract the contents of the project into a separate folder. We recommend 7zip.
				<br>
				<br>
			Extract the file contents into the following location of your PPSSPP installation folder:
			
			<p class="sub_direct">
				<span>memstick/PSP/TEXTURES/ULUS10391</span>
			</p>

		</p>

		<p>
			
			On MacOS, you can locate this folder in:

			<p class="sub_direct">
				<span>~/.config/ppsspp/PSP/TEXTURES/ULUS10391</span>
			</p>

		</p>

		<p>
			Make sure to check this option in PPSSPP:

			<p class="sub_direct">
				<span>Settings</span>
				<span>Tools</span>
				<span>Developer Tools</span>
				<span>Replace Textures</span>
			</p>

		</p>
	</div>
</div>