<div id = "install_cont" class = "panel-item box_content_wrapper">
	<header>
		Installation
	</header>

	<div class = "box_content text_content_wrapper">
		<p>
			Download PPSSPP and the latest release of HuntingRedux.
				<br>
				<br>
			Use your preferred zip extractor to extract the TEXTURES folder 
			into the following location of your PPSSPP installation:
			
			<p class="boxed_text">
				<span>memstick/PSP/TEXTURES/ULUS10391</span>
			</p>

		</p>

		<p>
			
			On MacOS, you can locate this folder in:

			<p class="boxed_text">
				<span>~/.config/ppsspp/PSP/TEXTURES/ULUS10391</span>
			</p>

		</p>

		<p>
			In PPSSPP, check off the following option:

			<p class="boxed_text with_caret">
				<span>Settings</span>
				<span>Tools</span>
				<span>Developer Tools</span>
				<span>Replace Textures</span>
			</p>

		</p>
	</div>
</div>