<div class="box__content_wrapper">
	
	<header>
		Mod Your Own Textures!
	</header>

	<div class = "text__cont">
		<p>
			
			You will first need to <b>EXTRACT</b> the textures from whichever PPSSPP game you are running.

			Run your game and go to an area that you want to rip textures from.
				<br>
				<br>
			Then <span class="sub_direct_sp">Save State</span> and afterwards navigate to:

			<p class="sub_direct">
				<span>Settings</span>
				<span>Tools</span>
				<span>Developer Tools</span>
				<span>Save new textures</span>
			</p>
		</p>

		<p>
			
			Now <span class="sub_direct">Load State</span> and let the game save the new textures from the game on-screen.
				
				<br>
				<br>

			These textures can be found inside:

			<p class="sub_direct">
				<span>memstick</span>
				<span>PSP</span>
				<span>TEXTURES</span>
				<span>YOUR_GAME_ID</span>
				<span>new</span>
			</p>

		</p>

		<p>

			Open up the textures you want to edit in Photoshop or GIMP. Once you've made your edits, save them to:

			<p class="sub_direct">
				<span>memstick</span>
				<span>PSP</span>
				<span>TEXTURES</span>
				<span>YOUR_GAME_ID</span>
			</p>

		</p>

		<p>
			Then check the option:

			<p class="sub_direct">
				<span>Settings</span>
				<span>Tools</span>
				<span>Developer Tools</span>
				<span> Replace Textures</span>
			</p>
				<br>
				<br>
			Make sure to uncheck <span class = "sub_direct_sp"> Save new textures </span>
		</p>

		<p>
			Voila! Your new textures are now loaded.
		</p>
	</div>

</div>