@mixin darkOverlay($overlayNum: 0.40, 
			$zIndex: -1, $overlayColor: #111) {
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: $overlayNum;
		background-color: $overlayColor;
		z-index: $zIndex;
	}

}