$bodyBGColor: #f9f9f9;

$colorWhiteFull: #FFF;
$colorWhite: #fafafa;
$colorBlack: #212121;
$colorOrange: #ff8f50;

$fontNormal: 'Helvetica Neue', sans-serif;
$fontSerif: 'Crimson Text', serif;
$fontHeavy:'Barlow', sans-serif;

$logoBlack: 'hunting-redux-logo-6-whole-black.png';
$logoWhite: 'logo-white-nu-4.png';

$logoBlackSmall: 'hunting-redux-logo-5-sm-black.png';
$logoWhiteSmall: 'logo-white-nu-4-sm.png';

$imgPath: 'img/';

$latestGame: 'mhp3rd';

$breakpoint__small_window: 900px;
$breakpoint__mobile: 640px;
$breakpoint__mobile_header: 1050px;

$headerWidth: 550px;