---
---

@import 'reset';

@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Barlow:400,900');

@import 'variables';
@import 'mixins';

body, html {
	width: 100%;
	height: 100%;
}

body {
	font-family: $fontNormal;
	height: 100%;
	overflow-x: hidden;
}

h1,h2,h3,
h4,h5,h6,
header,
.link-btn {
	font-family: $fontHeavy;
	font-weight: bolder;
	position: relative;
}

.link-btn {
	background-color: $brown-btn;
	padding: 12px 12px;
	color: #FFF;
	display: block;
}

.game-link {
	margin: 15px auto;
	display: block;

	a {
		max-width: 180px;
		width: auto;
		margin: auto;
		font-size: 11px;
		letter-spacing: 1.55px;
		text-transform: uppercase;
		padding: 18px 12px;
	}
}

.with-bars {
	&:after {
		content: "";
		width: 40%;
		height: 25px;
		background-color: orange;
		position: absolute;
		right: -10px;
		bottom: -5px;
		z-index: -1;
	}

	&:before {
		content: "";
		width: 40%;
		height: 25px;
		background-color: #d8c67d;
		position: absolute;
		left: -10px;
		top: -5px;
		z-index: -1;
	}
}

.btn {
	background-color: $colorBlack;
	padding: 18px 32px;
	font-family: $fontHeavy;
	font-weight: bolder;
	color: $colorWhite;
	font-size: 11px;
	letter-spacing: 1.55px;
	text-transform: uppercase;
	border: none;

	&.small {
		letter-spacing: 2px;
	}
}

#nav-top {
	text-align: center;
	margin: auto;
	position: fixed;
	z-index: 9999;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: $fontSerif;
	background: url("img/bar-bg.jpg") no-repeat center center;
    background-color: #623d29;
    background-size: cover;
    left: 0;
    right: 0;
    text-align: left;
	
	&:before {
		content: "";
		top:0; left: 0;
		bottom: 0; right: 0;
		position: absolute;
		background-color: #38383e;
		opacity: 0.45;
		z-index: -1;
	}

	.nav__link_wrapper {
		margin-left: 25px;

		a {
			padding: 8px 8px;
			margin: auto 4px;
			display: inline-block;
			font-size: 14px;
			letter-spacing: 1.55px;
			text-align: center;
			vertical-align: middle;
			font-family: $fontHeavy;
			text-transform: uppercase;
			border-bottom: solid 4px transparent;
			position: relative;
	
			&, &:visited, &:link {
				color: #FFF;
			}
	
			&:hover {
				@include barOnBottom(#89b741);

				&:after {
					height: 18px;
					right: 0px;
				}
			}

			&.ppsspp_logo {
				color: #7cdcf7;
				padding-left: 45px;
				padding-top: 12px;
				background-size: auto 36px;
			}
		}

		@media all and (max-width: $breakpoint__mobile_header) {
			position: absolute;
			top: 85px;
			max-width: 540px;
			width: 85%;
			box-sizing: border-box;
			right: 15px;
			margin: auto;
			text-align: left;
			z-index: 99999;
			animation: slideInRight 0.72s 1;
			border: dashed 4px #4a200d;
			background-color: #5c4b38;
			padding: 15px;

			@keyframes slideInRight {
				from {
					transform: translateX(720px);
				}

				64%, 80% {
					transform: translateX(20px);
				}

				72%, to {
					transform: translateX(0px);
				}
			}

			a, a:visited, a:link {
				display: block;
				padding: 12px 20px;
				border-bottom: none;
				text-align: left;

				&:hover {
					opacity: 0.64;
					border-bottom: none;

					&:after {
						content: none;
					}
				}
			}

			a.ppsspp_logo {
				background: none;

				padding-left: 0px;
			}
		}
	}

	#logo-top {
		background: url(#{$imgPath + $logoBlack}) no-repeat center center;
		background-size: contain;
		width: 160px;
    	height: 60px;
		text-indent: -9999999px;
		margin: auto;

		@media all and (max-width: $breakpoint__mobile_header) {
			
		}

		@media all and (max-width: $breakpoint__mobile) {
			background: url(#{$imgPath + $logoBlackSmall}) no-repeat center center;
			background-size: contain;
			width: 30px;
		}
	}

	.nav__hamburger_menu {
		background: url('./img/hamburger-menu-btn.png') no-repeat center center;
		background-size: 75% auto;
		height: 45px;
		width: 45px;
		padding: 8px;
		display: inline-block;
		vertical-align: middle;
		margin: auto 12px;
		display: none;
		background-color: #75604a;
		cursor: pointer;
		vertical-align: middle;

		@media all and (max-width: $breakpoint__mobile_header) {
			display: inline-block;
		}
	}

	.nav__link_wrapper,
	#logo-top {
		display: inline-block;
		vertical-align: middle;

	}

	.dl_links {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		padding-right: 15px;

		a {
			display: inline-block;
			vertical-align: middle;
		}

		.btn {
			color: #FFF;
		}
	}

	a.dl-btn {
		background-color: $brown-btn;
		padding: 18px 32px;
		font-family: "Barlow", sans-serif;
		font-size: 11px;
		letter-spacing: 1.55px;
		border-radius: 500px;
		text-transform: uppercase;
		border: none;
		box-shadow: 0px 3px 25px -5px #131313;
		color: #FFF;

		@media all and (max-width: $breakpoint__mobile_header) {
			display: none;
		}
	}
}

#page-top {
	min-height: 640px;
	background-color: #f9f9f9;
}

.main-wrapper {
	padding-top: 35px;
}

.large-img {
	background-size: cover !important;
	position: relative;
	width: 100%;
	height: auto;
}

.text-container {
	max-width: 1080px;
	padding: 25px;
	margin: auto auto auto auto;

	@media all and (max-width: $breakpoint__mobile) {
		padding: 5px 5px;
	}
}

.text-container p, .text_content {
	font-size: 15px;
	letter-spacing: 1.15px;
	line-height: 24px;
	margin-bottom: 10px;
	font-family: $fontNormal;
}

.row-items {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: row nowrap;

	.install {
		width: 100%;
	}

	.sect {
		padding: 10px;
	}

	@media all and (max-width: $breakpoint__mobile_header) {
		flex-direction: column;
	}

}

.sect, .post__top_outer_content {
	padding: 15px 25px;
	margin: auto auto auto 8%;

	header {
		font-size: 36px;
		color: $colorBlack;
		padding: 0px 0px 15px;
		max-width: 640px;
		position: relative;
		z-index: 1;
		text-transform: uppercase;
			
		@include barOnTop ($light-brown);
	}

	&.gallery {
		padding: 35px 5px;
	}

	@media all and (max-width: $breakpoint__mobile) {
		
		header {
			font-size: 2.15rem;

			&:before {
				border-bottom: solid 10px $colorBlack;
			}
		}

	}
}

main.page-content {
	padding-top: 90px;
	min-height: 64.25vh;
}

.btn-ctr {
	display: block;
	text-align: center;
}

.sub {
	font-family: $fontSerif;
}

#top-header {
	color: #111;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row nowrap;
	position: relative;
	z-index: 1;
	padding-top: 90px;
	margin-bottom: 80px;

	.main-center-img {
		background: url(#{$imgPath + $latestGame + '/hero-wp-2.jpg' }) no-repeat center center;
		background-color: $dark-brown;
		background-size: cover;
		height: 240px;
		width: 480px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column wrap;
		text-align: center;
		position: relative;
		z-index: 1;
		margin-bottom: -55px;
		box-shadow: -15px 15px 0px $light-brown;
		margin-left: -285px;

		&:before {
			content: "";
			top:0; left: 0;
			bottom: 0; right: 0;
			position: absolute;
			background-color: #131313;
			opacity: 0.25;
			z-index: -1;
		}
		
		img {
			max-width: 32px;
			display: block;
			margin: auto;
		}

		p {
			background-color: $brown-btn;
			padding: 9px 12px;
			display: inline-block;
			margin-top: 15px;
		}

		a {
			color: #FFF;
			font-family: $fontHeavy;
			font-weight: bolder;
			font-size: 15px;
			text-transform: uppercase;
			letter-spacing: 1.75px;
		}
	}

	#main-center-inner-wrapper {
		
		margin-left: 35px;
		box-sizing: border-box;
		margin-top: 50px;

		.main-center-content-wrapper {
    		text-transform: uppercase;
    		position: relative;
			z-index: 2;
		}
	}

	.zinogre-render {
		position: absolute;
		max-width: 715px;
		bottom: -170px;
		left: -60px;
		z-index: -1;
	}

	.main-center-content-bottom {
    	text-align: center;
    	font-family: $fontHeavy;
    	font-weight: bolder;
    	font-size: 1.75rem;
    	max-width: 270px;
    	border-top: solid 16px;
    	padding: 15px 7.5px 0px;
    	display: block;
    	margin: auto;

    	.btn {
    		display: block;
    		margin-top: 15px;
    	}
	}

	.slogan {
		font-weight: bolder;
		font-size: 45px;
		position: relative;
		color: $dark-brown;

		&.main {
			@include barOnTop($light-brown);
		}
	}

	.back {
		position: relative;
		z-index: -4;
		padding-bottom: 15px;
	}

	a.btn {
    	padding: 24px 20px;
	    display: inline-block;
	    background-color: transparent;
	    color: #fff;
	    text-transform: uppercase;
	    font-weight: bolder;
	    letter-spacing: 1.55px;
	    border-radius: 6px;
	    line-height: unset;
	}

	.latest-rls {
		font-family: $fontHeavy;
		font-weight: bolder;
		letter-spacing: 1.75px;
		font-size: 19px;
		position: relative;
		color: #ffffff;
		background-color: $brown-btn;
		border: none;
		z-index: 1;
		padding: 12px 24px;
		text-transform: uppercase;
	}

	@media all and (max-width: $breakpoint__small_window) {
		flex-direction: column;
		padding-top: 25px;

		.main-center-img {
			display: block;
			max-width: 95%;
			margin: auto;
		}
	}
	
}

.page_desc {
	line-height: 24px;
	font-size: 16px;
	padding: 15px 5px;
}

.visit-link-cont {
	padding: 15px 25px;
	text-align: center;
	position: relative;
	z-index: 1;

	li {
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}

	.visit-link {
		font-family: $fontHeavy;
		font-size: 1.25rem;
		padding: 25px 25px;
		font-weight: bolder;
		text-transform: uppercase;
		color: $colorBlack;
		margin: 5px;
		display: block;
		line-height: 1.55rem;
		letter-spacing: 2.5px;
	}
}

.post {
	max-width: 1080px;
	margin: 13px auto auto;
	padding: 15px;

	.post-header {
		font-size: 2.35rem;
		padding: 5px;
		max-width: 900px;
		margin: auto;
	}
}

#content-center {
	margin: 180px auto 80px auto;
	position: relative;
	z-index: 2;
	text-align: center;

	.preview-item-container {
		width: 30%;
		display: inline-block;
		margin: auto 8px;
		box-sizing: border-box;
		position: relative;
		vertical-align: top;

		&:nth-of-type(1) {
			margin-top: 0px;
		}

		.preview-item-side-box {
			margin: auto auto;
			position: relative;

			h3 {
				font-size: 18px;
				letter-spacing: 0.95px;
				font-weight: bolder;
				text-transform: uppercase;
				padding: 25px 15px 15px;
				white-space: normal;
				width: 95%;
				color: $dark-brown;
			}

			p {
				line-height: 24px;
				width: 85%;
				margin: auto;
			}
		}

		img {
			width: 100%;
			height: auto;
			display: block;
   			border-radius: 0px;
		}

		@media all and (max-width: $breakpoint__mobile_header) {
			
			&:nth-of-type(1), &:nth-of-type(2) {
				width: 45%;
				margin-bottom: 25px;
			}

			&:nth-of-type(3) {
				display: block;
				width: 95%;
				margin: auto;
			}
		}

		@media all and (max-width: $breakpoint__mobile) {
			&:nth-of-type(1), 
			&:nth-of-type(2),
			&:nth-of-type(3) {
				display: block;
				width: 90%;
				margin: 20px auto;
			}
		}
	}

	@media all and (max-width: $breakpoint__mobile_header) {
		margin-top: 80px;
	}
}

.hero_art__box {
	width: 100%;
	background-color: $colorBlack;
	@include darkOverlay(0.35, 0, #616161);
	border-radius: 3px;
	box-shadow: 0px 8px 32px -4px #111;
	display: block;
}

.hero__btn_ctr {
	margin: 5px auto;
	text-align: left;
	padding: 20px 10px;
}

#top-header .hero__container {
	text-align: left;
	position: relative;
	max-width: 1080px;
	margin: auto auto auto auto;
    display: block;
    position: relative;

	.hero_art_box__heading {
		margin-left: 20px;
		position: relative;
		z-index: 1;
		display: inline-block;
		vertical-align: bottom;
		margin-top: auto;

		h3 {
			
			text-transform: uppercase;
			font-size: 3.05rem;
			text-align: left;
		}

		h5 {
			text-align: left;
			font-family: $fontHeavy;
			margin-top: 5px;
			font-family: 1.75rem;
		}
	}

	.hero_art__box {
		display: inline-block;
		vertical-align: bottom;
		width: 320px;
	}

	.btn {
		padding: 16px 20px;
	}
}

.link__gallery {
	font-family: $fontNormal;
	font-weight: boldest;
	font-size: 0.75rem;
	letter-spacing: 1.95px;
	color: $colorBlack;
	display: block;
	padding: 10px 15px;
	margin: 5px auto;
	text-transform: uppercase;
	transition: background-color 0.25s ease;

	&:hover {
		background-color: $colorBlack;
		color: $colorWhite;

	}
}

.bottom-bar {
	padding: 55px 15px; 
}

#header-bottom {
	background: #212121;
	background-size: cover;
	
	position: relative;
	z-index: 2;

	margin-top: 0px;
    padding-top: 16px;
    padding-bottom: 18px;
    text-align: center;
    box-shadow: 0px -6px 45px -6px #111;
}

.get_mhfu_ios {
	background: url($imgPath + 'wp-large.jpg') no-repeat center center;
	background-size: cover;
	background-color: #333;
	padding: 25px 20px;
	text-align: center;
	display: block;
	max-width: 100%;
	z-index: 10;
	position: relative;

	@include darkOverlay();

	img	{
		max-width: 250px;
		display: inline-block;
		vertical-align: middle;
	}

	#get-link-ctr {
		
		display: inline-block;
		vertical-align: middle;
		text-align: center;

		a {
			display: block;
			margin: auto;
		}

		#get-ios {
			border-radius: 1px;
			background-color: transparent;
			color: #fff;
			font-family: $fontHeavy;
			font-weight: bolder;
			font-size: 2rem;
			padding: 16px 20px;
			border: none;
			letter-spacing: 2.5px;
			text-shadow: -3px 3px 6px #89b741; 
			width: 300px;
		}

		#get-vita {
			font-size: 1.05rem;
		    color: #111;
		    font-family: "Crimson Text", serif;
		    letter-spacing: 2.5px;
		    padding: 8px 6px;
		    max-width: 65%;
		    color: #FFF;
		}
	}
}

.page_footer {
	background-color: $colorBlack;
	color: $colorWhite;
	position: relative;
	z-index: 5;

	.contact {
		
		text-align: center;
		padding: 15px;
		font-family: $fontNormal;
		background-color: #111;
		font-weight: bolder;
		text-transform: uppercase;
		font-size: 11px;

		span {
			background-color: $colorBlack;
			display: inline-block;
			padding: 12px 18px;
			margin: auto 5px;
			font-weight: lighter;
		}
	}

	.notice {
		font-size: 11px;
	    line-height: 1.15rem;
	    letter-spacing: 1.15px;
	    margin: auto auto auto;
	    padding: 32px 15px;
	    text-align: center;
	    font-weight: bolder;
	    background-color: #252525;
	}

	.social-links {
		padding: 10px 20px 10px;
		text-align: center;

		a {
			display: inline-block;
			vertical-align: middle;
			color: $colorWhite;
			margin: 10px 25px;
		}

		img {
			height: 35px;
			display: block;

			&.yt__icon {
				height: 26px;
			}
		}

		span {
			letter-spacing: 3.05px;
			font-size: 0.75rem;
		}


	}

	@media all and (max-width: $breakpoint__mobile_header) {
		.notice { text-align: left; }


	}
}

.ppsspp_logo {
	background: url(#{$imgPath + "PPSSPP_logo.png"}) no-repeat center left 0px;
	background-size: auto 40px;
}

.screenshots {
	.main {
		max-width: 900px;
		width: 85%;
		display: block;
		margin: auto auto auto auto;
	}
}

#home-mid {
	background: #111;
	color: #FFF;
	text-align: center;

	position: relative;
	z-index: 2;

	&:after {
		content: "";
		position: absolute;
		top: 0; bottom: 0;
		left: 0; bottom: 0;
		height: 100%; width: 100%;
		background-color: #818181;
		opacity: 0.35;

		z-index: -1;
	}

	.screenshots {
		max-width: 1080px;
		padding: 15px 25px;
		margin: auto auto auto auto;
	}
}

#gallery {
	text-align: center;
	background: #4a200d 
		url(#{$imgPath + $latestGame + "/screens-bg.png"}) no-repeat center center;
	background-size: cover;
	padding: 20px 25px 55px;

	.gallery__cont {
		max-width: 720px;
		margin: auto auto auto 5%;
	}

	.heading {
		text-align: left;
		color: #FFF;
		padding: 3px 0px 3px;
		font-size: 24px;
		letter-spacing: 1.55px;
		text-transform: uppercase;
		position: relative;
		z-index: 1;
		display: inline-block;
		margin: 15px auto;

		@include barOnTop($dark-brown);

	}

	&.mhp3rd {
		background: #4a200d 
		url(#{$imgPath + $latestGame + "/large-bg-2.png"}) no-repeat bottom right 0px;
		background-size: cover;
	}
}


#home-bottom {
	text-align: center;
    margin: auto auto -3px;
    padding: 75px 25px;

	.inner-content {
		padding: 25px;
		perspective: 1000px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	@media all and (max-width: $breakpoint__small_window) {
		padding: 20px;
		
		.inner-content {
			padding: 15px 5px;
			flex-direction: column;
		}
	}

	.box-art {
		position: relative;
		z-index: 1;
		padding-left: 240px;

		&:before {
			content: "";
			background: url("img/monster-decor.png") no-repeat center center;
			background-size: contain;
			top: 45px;
			bottom: 45px;
			width: 320px;
			z-index: -1;
			position: absolute;
			margin: auto;
			left: 0px;
			opacity: 0.64;
		}

		@media all and (max-width: $breakpoint__small_window) {
			padding-left: 0px;

			&:before {
				left: -200px;
			}
		}
	}

	img {
		max-width: 280px;
	    margin-right: 45px;
		box-shadow: -15px 16px 0px #cbbf84;
		transform: rotateY(25deg);

		@media all and (max-width: $breakpoint__small_window) {
			margin: auto;
			display: block;

		}
	}

	.side-box {

		max-width: 640px;
		position: relative;
		z-index: 2;

		h4 {
			font-family: $fontNormal;
			letter-spacing: 3px;
			font-size: 18px;
			color: #313131;
			padding-bottom: 15px;
		}

		h3 {
			text-transform: uppercase;
			font-family: $fontHeavy;
			font-size: 2.75rem;
			margin-bottom: 24px;
			text-align: left;
		}

		.ppsspp_logo {
			display: inline-block;
			margin-top: 8px;
			padding: 18px;
			padding-left: 50px;
			font-weight: bolder;
			color: #7cdcf7;
			font-family: $fontHeavy;
			text-transform: uppercase;
			letter-spacing: 1.75px;
		}

		@media all and (max-width: $breakpoint__small_window) {

			margin-top: 35px;

			h3 {
				font-size: 35px;
				text-align: center;
			}
		}
	}
}

/* --- About Page --- */

.sect.sub__details_wrapper {

	.sub__details {
		display: block;
		margin-bottom: 25px;
	}

	ul {
		list-style-type: initial;
		display: block;
		margin: auto auto auto 0px;
		clear: both;
		overflow: auto;
		padding: 5px 15px 5px 15px;

		li {
			display: inline-block;
			padding: 5px 19px 5px 15px;
			position: relative;

			&:nth-last-of-type(1) {
				padding-right: 0px;

				&:after {
					content: none;
				}	
			}

			h2 {
				font-size: 24px;
			}

			h3 {
				font-weight: lighter;
				padding: 15px 0px;
				font-size: 16px;
				color: $dark-brown;
			}
		}
	}

	.special-thanks {
		li:after {
			content: "";
			position: absolute;
			right: 0px;
			top: 0;
			bottom: 0;
			height: 7px;
			width: 7px;
			background-color: $colorBlack;
			margin: auto;
		}
	}

}



/* -- Controls -- */

.controller-icons-wrapper {
	position: relative;
	clear: both;

	.controller-icons {
		float: right;
	}


	.lbl {
		position: absolute;
		bottom: -25px;
		left: 0;
		right: 0;
		margin:auto;
		text-align: center;
	}

}

.img-tagline__wrapper {
	position: relative;

	padding: 150px 25px 150px 25px;

	.bg__img {
		position: absolute;
		top: 0px;
		bottom: 0px;
		height: 100%;
	}

	.img-tagline__text {

		position: relative;
		background-color: #fff;
		padding: 15px 15px;
		font-size: 0.95rem;

	}

	&.right {

		.bg__img {
			right: 5px;
		}

		.img-tagline__text {

			margin-right: 0px;

			text-align: left;

		}

	}

	&.left {

		.bg__img {
			left: 5px;
		}

		.img-tagline__text {
			margin-left: 0px;

			text-align: right;
		}
	}
}

.sub_direct span,
.sub_direct_sp
 {
	font-family: $fontNormal;
	font-weight: bolder;
	border: solid 5px;
	padding: 5px;
}

.dl_link__btn,
.overlay__controls button {
	font-family: $fontHeavy;
	font-size: 1.15rem;
	letter-spacing: 2px;
	background-color: #111;
	color: $colorWhite;
	display: inline-block;
	margin: 15px auto 15px 0px;
	padding: 20px 10px;
	max-width: 250px;
	width: 60%;
	text-align: center;
	border: none;
	box-shadow: none;
}

.dl_link__btn.clear,
.clear {
	background-color: transparent;
	color: $colorBlack;
	width: auto;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bolder;
    border: none;
    box-shadow: none;
}

.inline__block_btn {
	display: inline-block;
}

.controller-icons {
	width: 58px;
	height: 58px;
	background: url($imgPath + 'remotes-icons.png') no-repeat center left 10px;
	background-size: auto 80%;
	padding: 5px;
	border-radius: 4px;
	cursor: pointer;
	position: relative;

	font-family: $fontHeavy;

	&:hover {
		background-color: #DDD;
	}

	&.joy-cons {

		background-position: center right 7px;

	}

	&.wii-motes {
		margin-right: 15px;
	}

}

.sect {
	max-width: 1080px;
	margin: auto;
	background-color: #FFF;

	.releases {

	}
}


.box__content_wrapper {

	.text__cont {
		max-width: 720px;
		position: relative;
		z-index: 2;
		padding: 15px 15px;

		&.post__releases {
			padding: 25px 10px;
		}

		.text_content {
			.btn-ctr {
				margin-top: 30px;
			}
		}

		.post__date {
			font-size: 0.95rem;
			color: $dark-brown;
			text-align: left;
			display: block;
			font-family: $fontHeavy;
			letter-spacing: 3px;
		}
	}

	.box__subtitle {
		font-size: 2.5rem;
		padding: 15px 0;
	}

	@media all and (max-width: $breakpoint__mobile) {
		
		header {
			font-size: 2.15rem;
			margin-bottom: -16px;
		}

		.text__cont {
			margin-left: 15px;
			padding: 15px 10px;
		}
	}
}

.post__releases {

	.post__release {
		margin: auto auto;
		text-align: left;
		padding: 0px 5px;
		
		.post__inner_wrapper {
			padding: 15px 8px;
			border-bottom: dashed 3px $dark-brown;
		}

		&:nth-of-type(1) {

			.post__inner_wrapper {
				border-top: dashed 3px $dark-brown;
			}
		}

		time {
			font-size: 20px;
			color: $light-brown;
			text-align: left;
			display: block;
			font-family: $fontHeavy;
			letter-spacing: 3px;
			margin-bottom: 10px;
		}
		
		.post__top_matter {
			
			display: inline-block;
			max-width: unset;
			width: auto;
			
			.post__title {
				font-weight: bolder;
				font-size: 30px;
				display: block;
				max-width: unset;
				width: auto;
			}

		}

		.post__subtitle {
			font-size: 18px;
			letter-spacing: 1.25px;
			padding: 15px 0px 8px;
		}

		.post__category {
			display: none;
		}

	}

	.dl_link__btn {
		display: inline-block;
		margin: 5px auto;
	}
}

.post-list-heading, .post-list, .rss-subscribe {
    display: none;
}

#gallery__container,
.gallery__container {

	li {
		height: 160px;
		width: 160px;
		overflow: hidden;
		position: relative;
		background-color: #111;
		display: inline-block;
		margin: 2.5px 2.5px;
		transition: transform 0.2s ease;
		box-shadow: 0px 4px 24px -6px #4a200d;
		
		img {
			height: 100%;
			cursor: pointer;
			position: absolute;
			left: -100px;
		}

		&:hover {
			opacity: 0.70;
			z-index: 10;
			box-shadow: 0px 5px 35px -8px #111;
		}

		@media all and (max-width: $breakpoint__mobile) {
			display: block;
			width: 95%;
			height: 160px;
			margin: 5px auto;

			img {
				width: 100%;
				height: auto;
				top: 0px;
				left: 0px;
			}

			&:hover {
				transform: scale(1.02);
				z-index: 10;
				box-shadow: 0px 5px 45px -8px #111;
			}
		}
	}
}

.overlay__wrapper {
	
	&, .overlay__screen {	
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 999;
	}

	.overlay__screen {
		background-color: #111;
		text-align: right;
		opacity: 1;

		button {
			border: none;
			font-family: $fontNormal;
			font-weight: bolder;
			font-size: 1.25rem;
			text-transform: uppercase;
			margin: 10px;
			background-color: transparent;
			color: $colorWhite;
			text-shadow: 0px 5px 25px #222;
			position: fixed;
			top: 0;
			right: 0;
			z-index: 99999;
		}
	}

	.overlay__inner_wrapper {
		position: fixed;
		height: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 9999;
		animation: slideIn 0.35s 1;

	}

	.overlay__controls {
	    position: fixed;
	    width: 220px;
	    bottom: 0px;
	    right: 0px;

		button {
			transition: transform 0.2s ease;
			position: relative;
			z-index: 3;
			text-shadow: none;
			font-family: $fontSerif;
			color: $colorWhite;
			font-size: 0.95rem;
			display: block;
			padding: 8px 10px;
			margin: 5px auto 10px;
			background-color: $colorBlack;
			border-radius: 300px;
			font-weight: lighter;
			opacity: 0.75;
			
			&.selected {
				background-color: $colorWhite;
				color: $colorBlack;
				z-index: 4;
				text-shadow: none;
				opacity: 1;

				&:focus {
				    outline: none;
				    box-shadow: 0px 0px 25px -6px #111;
				    transform: scale(1.05);
				}
			}
		}

		.border {
			display: block;
			border: solid thin $colorWhite;
			width: 0px;
			height: 45px;
			margin: auto;
		}
	}

	img {
		max-width: 100%;
		margin: auto;
		display: block;
	}

	@media all and (max-width: $breakpoint__mobile) {
		.overlay__inner_wrapper {
			width: 100%;
			top: 0px;
			max-height: unset;
			height: unset;
		}
	}

	.comparison__selected_item img {
	    position: fixed;
	    top: 0;
	    left: 0px;
	    right: 0px;
	    bottom: 0;
	    margin: auto;
	    max-width: 100%;
	}
}

@keyframes slideIn {
	from { 
		transform: scale(0);  }

	to { 
		transform: scale(1); }
}

.video-gallery-wrapper {
	
	padding: 25px 10px 75px 10px;

	.controls-wrapper {
		font-family: $fontNormal;
		font-weight: bolder;
		text-align: right;
		text-transform: lowercase;

		button:nth-of-type(1) {
			margin-left: 15px;
		}

		button {
			font-family: $fontHeavy;
			background-color: transparent;
			font-size: 16px;
			font-weight: bolder;
			padding: 15px;
			border: none;
			border-bottom: solid 4px $light-brown;
			transition: 0.16s border-bottom-color linear;

			&:hover {
				border-bottom-color: $dark-brown;
			}
		}

		span, button {
			display: inline-block;
			vertical-align: middle;
		}
	}
	
	.game-videos, .videos-wrapper {
		margin: 25px auto 75px;

		h3 {
			color: $dark-brown;
			font-size: 35px;
			margin-bottom: 25px;
		}

		img {
			margin: 5px;
			cursor: pointer;

			&:nth-of-type(odd) {
				animation: fadeInLeft 1s 1;
			}

			&:nth-of-type(even) {
				animation: fadeInRight 1s 1;
			}
		}

		@keyframes fadeInLeft {
			from {
				opacity: 0.66;
				transform: translateX(-25px);
			}

			to {
				opacity: 1;
				transform: translateX(0);
			}
		}

		@keyframes fadeInRight {
			from {
				opacity: 0.36;
				transform: translateX(25px);
			}

			to {
				opacity: 1;
				transform: translateX(0);
			}
		}

	}

}