.videos {

	content {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: row nowrap;
	}

	.page_desc {
		width: 480px;

		.link-wrapper {
			margin: 35px 0px;
			text-align: center;
			border-radius: 3px;

			a {
				border-radius: 5px;
				font-weight: bolder;
				font-family: $fontHeavy;
				padding: 8px 12px;
				display: table;
				color: #5e24ab;
				font-size: 14px;
				letter-spacing: 1.05px;
				margin: 10px auto;
				transition: background-color 0.10s,
							color 0.10s;

				&:hover {
					background-color: #5e24ab;
					color: #FFF;
				}
			}
		}
	}

	.video-gallery-wrapper {
		display: inline-block;
		vertical-align: top;
	}
}

.video-gallery-wrapper {
	padding: 0px 20px 25px 15px;
	position: relative;

	.videos-list {
		display: flex;
		justify-content: flex-start;
		flex-flow: row wrap;
		position: relative;

		.video-thumbnail {
			display: inline-block;
			margin: 5px;
			width: 240px;
			position: relative;
		}

		img {
			cursor: pointer;
			background-color: #111;
			border-radius: 0px;
			width: 100%;
		}
    }
    
    .title {
		margin-top: 10px;
		line-height: 21px;
    }

    .category-list {
        text-align: center;
        padding: 12px 0px;

        .category {
            display: inline-block;
            border-radius: 3px;
            border: solid thin;
            font-size: 11px;
            font-family: $fontHeavy;
            font-weight: bolder;
            letter-spacing: 1.55px;
            padding: 9px 12px;
            margin: auto 2.5px auto 0px;
            text-transform: uppercase;
        }
    }

	.controls-wrapper {
		font-family: $fontNormal;
		font-weight: bolder;
		position: -webkit-sticky;
  		position: sticky;
		top: 25px;		
		text-align: right;
		left: 0px;
		margin-right: 25px;

		button {
			font-family: $fontHeavy;
			background-color: transparent;
			font-size: 16px;
			font-weight: bolder;
			padding: 15px 8px;
			border: none;
			display: block;
			border-radius: 3px;
			width: 100%;
			text-align: right;

			&:hover {
				background-color: #111;
				color: #FFF;
			}
		}

		span {
			font-size: 15px;
			font-family: $fontHeavy;
			letter-spacing: 1.25px;
			display: block;
			margin-bottom: 8px;
		}
	}

}